.about-us {
  padding: 20px 24px;

  @include on-tablet {
    padding: 20px 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 120px;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 5;
      grid-column-start: 7;
    }
  }

  &__description {
    text-align: justify;
    margin: 0;
    line-height: 27px;
  }
}
