
.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: cover;

  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &__phone {
    background-image: url('../assets/icon-phone-call.png');
    position: relative;
      &:hover::before {
        position: absolute;
        right: 100%;
        color: #292929;
        content: '+1 234 555-55-55';
        display: inline-flex;
        align-items: center;
        gap: 5px;
        padding: 8px ;
        white-space: nowrap;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 20px; // espaço pro ícone
  }
}

  &__menu {
    background-image: url('../assets/icon-Burger-menu (1).png');

    &:hover {
      background-image: url('../assets/icon-Burger-menu-hover (1).png');
    }
  }

  &__close {
    background-image: url('../assets/icon-close (1).png');
  }
}
